{#{% extends "InfoBundle:Default:index.html.twig" %}#}
{% extends "InfoBundle:Default:index.html.twig" %}
{%block title%}P06{%endblock%}
{% block content %}
<div class="jumbotron">
	<p>Hola {{nombre}}…bienvenido al curso de symfony</p>
</div>

{% endblock %}
{% block body %}<div class="jumbotron">
	<p>TE GUSTA…Y LO SABES!</p>
</div>{% endblock %}
