{#{% extends "InfoBundle:Default:index.html.twig" %}#}
{% extends "::base.html.twig" %}
{% block body %}
<p>Hola, este es el proyecto 06 de la asignatura de Entornos servidor</p>

<label>Pon tu nombre</label><input type="text" placeholder="Pon tu nombre" id="nombre">
<a onclick="document.getElementById('link').href+= document.getElementById('nombre').value "id="link" value="Averigua que pasa" href="{{ path('hola_user', {'nombre':(' ') }) }}">Averigua que pasa</a>

{% endblock %}